{% extends '_base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="mx-auto">
    <div class="col-lg-6 shadow mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class= "d-flex flex-row">
                <h4 class="p-2 col-lg-4">Registrar</h4>
            </div>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    {{ form|bootstrap }}

                    <input type="hidden" name="Next" class="btn btn-primary" value="{{ Next }}">

                    <input type="submit" class="btn btn-primary" value="Registrar">

                </form>
            
            </div>
        </div>
    </div>
</div>
{% endblock %}