{% extends '_base.html' %}

{% load bootstrap %}

{% load static %}

{% block content %}
<div class="row py-3">

    <div class="card ">
        <div class="col-md-8 mx-auto">
        <div class="card-body" class="table-responsive">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary center"> Campeonato </h4>    
                        <div class=" py-3 mx-auto">
                            <div class="card">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <form action="/campeonatos/editar/{{campeonato_id}}/" method="post">
                                            {% csrf_token %}
                                        
                                            {{ form.as_p }}
                                        
                                            <input type="submit" value="Salvar" button type="button" class="btn mb-1 btn-primary"> 
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}