{% extends '_base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" class="table-responsive">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Campeonatos</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Quantidade de Equipes</th>
                                    <th>Tipo de Partida</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                                    
                                {% if campeonatos %}
                                    <ul>
                                    {% for p in campeonatos %}
                                        
                                        <tbody>
                                                
                                                
                                                <Th><a href="/campeonatos/{{ p.id }}/">{{ p.nome }}</a></Th>
                                            
                                                <Th><a href="/campeonatos/{{ p.id }}/">{{ p.qtdequipe}}</a></Th>

                                                <Th><a href="/campeonatos/{{ p.id }}/">{{ p.tipopartida}}</a></Th>
                                            
                                            <th>
                                                    <a href="/campeonatos/excluir/{{ p.id }}/"> 
                                                        <button type="button" class="btn mb-1 btn-danger">
                                                        Excluir <span> <i class="fa fa-close"></i> </span>
                                                        </button>
                                                    </a>   
                                                    <a href="/campeonatos/editar/{{ p.id }}/">
                                                        <button type="button" class="btn mb-1 btn-primary">
                                                            Editar <span> <i class="fa fa-edit"></i> </span>
                                                        </button>
                                                    </a>
                                            </Th>
                                        </tbody>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Não há registro de campeonatos.</p>
                                {% endif %}
                        </table>
                <br>
                {% if request.user.is_authenticated %}
                <a href="/campeonatos/criar/"><button type="button" class="btn mb-1 btn-info">
                    Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                </button></a>
                {%endif%}
                </div>
            </div>
        </div>
    </div>

{%endblock%}