{% extends '_base.html' %}

{% block content%}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Junte-se ao MatchManager e encontre o melhor jeito para se divertir!</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                </div>
            </div>
        </div>
    </div>
</header>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" href="/equipes/"><i class="bi bi-people-fill m-auto text-success"  ></i></div>
                    <a href="/equipes/"class="text-success">Equipes</a>
                    <p class="lead mb-0">Aqui você pode cadastrar as sua propria equipe!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" href="/equipes/"><i class="bi bi-grid-3x3-gap-fill m-auto text-success"></i></div>
                    <a href="/campeonatos/" class="text-success">Campeonatos</a>
                    <p class="lead mb-0">Organize campeonatos de diversas modalidades!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex" href="/equipes/"><i class="bi bi-bookmark-plus-fill m-auto text-success"></i></div>
                    <a href="/partidas/"class="text-success">Partidas</a>
                    <p class="lead mb-0">Traga seu lado competitivo a tona com diversas partidas!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 