<footer class="footer bg-dark">
    <div class="container">
        <h5 class="text-contraste">Barra de acesso rápido</h5>
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="/" class="text-contraste">Página inicial</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/equipes" class="text-contraste">Equipes</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/campeonatos" class="text-contraste">Campeonatos</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/partidas" class="text-contraste">Partidas</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; MatchManager 2023. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>