{% extends '_base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" class="table-responsive">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold text-primary">Partidas</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-primary" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Data</th>
                                    <th>Local</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                                    
                                {% if partidas %}
                                    <ul>
                                    {% for p in partidas %}
                                        
                                        <tbody>
                                                
                                                
                                                <Th><a href="/partidas/{{ p.id }}/"class="text-primary">{{ p.nome }}</a></Th>
                                            
                                                <Th><a href="/partidas/{{ p.id }}/"class="text-primary">{{ p.data }}</a></Th>

                                                <Th><a href="/partidas/{{ p.id }}/"class="text-primary">{{ p.local }}</a></Th>
                                            
                                            <th>
                                                {% if request.user.is_authenticated %}
                                                    <a href="/partidas/excluir/{{ p.id }}/"> 
                                                        <button type="button" class="btn mb-1 btn-danger">
                                                        Excluir <span> <i class="fa fa-close"></i> </span>
                                                        </button>
                                                    </a>   
                                                    <a href="/partidas/editar/{{ p.id }}/">
                                                        <button type="button" class="btn mb-1 btn-primary">
                                                            Editar <span> <i class="fa fa-edit"></i> </span>
                                                        </button>
                                                    </a>
                                                    {% else %}
                                                    <a> Você não está autorizado a realizar ações nessa lista </a>
                                                {% endif %}
                                            </Th>
                                        </tbody>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Não há registro de partidas.</p>
                                {% endif %}
                        </table>
                <br>
                {% if request.user.is_authenticated %}
                <a href="/partidas/criar/"><button type="button" class="btn mb-1 btn-primary">
                    Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                </button></a>
                {%endif%}
                </div>
            </div>
        </div>
    </div>

{%endblock%}