{% extends '_base.html' %}

{% load bootstrap %}

{% load static %}

{% block content %}
<div class="col-lg-6 shadow mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class= "d-flex flex-row">
                <h4 class="p-2 col-lg-4"> Equipe </h4>
            </div>
                        <div class="basic-form">
                            <form action="/equipes/editar/{{equipe_id}}/" method="post">
                                {% csrf_token %}
    
                                {{ form|bootstrap }}
    
                                <div class="d-grid mt-3 gap-2 d-md-flex justify-content-md-end">
                                    <a href="/equipes/" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Cancelar</a>
                                    <input type="submit" class="btn btn-primary" value="Salvar">
                                </div>
                            </form>
                        </div>
            </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}