{% extends '_base.html' %}

{% load static %}

{% block content %}

<div class="mx-auto">
    <div class="col-lg-12 shadow mt-3">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class= "d-flex flex-row">
                    <h4 class="p-2 col-lg-4">Equipes</h4>
                    <div class=" p-2 col-lg-8 d-grid gap-2 d-md-flex justify-content-md-end">
                        {% if request.user.is_authenticated %}
                            <a href="/equipes/criar/"><button type="button" class="btn mb-1 btn-primary ">
                                Add <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </button></a>
                            {%endif%}
                        </div>
                    </div>
                
            </div>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Participantes</th>
                            <th>Campeonato</th>
                            <th style="text-align:right">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if equipes %}
                    {% for p in equipes %}
                    
                        <tr>
                            <td><a href="/equipes/{{ p.id }}/"class="text-primary">{{ p.nome }}</a></td>
                            <td><a href="/equipes/{{ p.id }}/"class="text-primary">{{ p.participantes }}</a></td>
                            <td><a href="/equipes/{{ p.id }}/"class="text-primary">{{ p.Campeonato }}</a></td>
                            <td style="text-align:right">
                                {% if request.user.is_authenticated %}
                                <span>
                                    <a href="/equipes/excluir/{{ p.id }}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"><i class="fa fa-close color-danger m-2"></i></a>
                                    <a href="/equipes/editar/{{ p.id }}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil color-muted m-r-5 m-2"></i> </a>
                                    </span>

                                    {% else %}
                                    <a> Você não está autorizado a realizar ações nessa lista </a>
                                {% endif %}
                                </td>
                        </tr>
                        

                        {%endfor%}
                    {% else %}
                                    <p>Não há registro de equipes.</p>
                    {%endif%}
                </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
</div>
{%endblock%}