btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #215a6d !important;
    --bs-btn-border-color: #215a6d !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #215a6d !important;
    --bs-btn-hover-border-color: #215a6d !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #215a6d !important;
    --bs-btn-active-border-color: #215a6d !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #215a6d !important;
    --bs-btn-disabled-border-color: #215a6d !important;
}